data/PortfolioSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="portfolio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="audits">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Audit" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="About">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="version" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute ref="id" use="required"/>
															<xs:attribute ref="rem">
																<xs:annotation>
																	<xs:documentation>remarks, additional comments, eg. stage of followu-up</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="title">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tx" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute ref="l" use="required"/>
																		<xs:attribute ref="nm" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="WorkingLanguage">
														<xs:annotation>
															<xs:documentation>TBD</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute ref="wl" use="required">
																<xs:annotation>
																	<xs:documentation>TBD: wl or l</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute ref="id" use="required"/>
												<xs:attribute name="descriptionfile" type="xs:token">
													<xs:annotation>
														<xs:documentation>TBD</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="yearCovered" type="xs:token">
													<xs:annotation>
														<xs:documentation>TDB</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="casesNumber" type="xs:long">
													<xs:annotation>
														<xs:documentation>autocalc</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="date" type="xs:string"/>
												<xs:attribute ref="rem"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Background">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ak" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Scope">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ak" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Cases">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Case" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="cts">
																	<xs:complexType>
																		<xs:attribute name="issue" type="xs:token" use="required"/>
																		<xs:attribute name="area" type="xs:token" use="required"/>
																		<xs:attribute name="domain" type="xs:token" use="required"/>
																		<xs:attribute name="source" type="xs:token" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element ref="quote" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="number">
																<xs:annotation>
																	<xs:documentation>TBD</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute ref="nr" use="required"/>
															<xs:attribute ref="nm" use="required"/>
															<xs:attribute name="eff" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="doc" use="required">
																<xs:annotation>
																	<xs:documentation>reference to other location in this doc</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="act" use="required">
																<xs:annotation>
																	<xs:documentation>reference to a relevant legal act</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Include">
																<xs:annotation>
																	<xs:documentation>TBD</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Recommendations">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Recommendation" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="quote" maxOccurs="unbounded"/>
																<xs:element name="findings" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="finding" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute ref="nr"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="monitoring" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="assessment" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="status" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string"/>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute ref="nr"/>
																					<xs:attribute name="note" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string"/>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="date" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string"/>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="riskevaluation" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="risk" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="repeated" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="priority" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="number">
																<xs:annotation>
																	<xs:documentation>TBD</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="nr" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="importance" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="category" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="accepted" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="title">
										<xs:annotation>
											<xs:documentation>TBD</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="order">
										<xs:annotation>
											<xs:documentation>TBD</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="id">
										<xs:annotation>
											<xs:documentation>TBD</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="publish" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="org" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coverage" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="id" type="xs:token"/>
	<xs:attribute name="rem">
		<xs:annotation>
			<xs:documentation>remarks, additional comments</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="l" type="xs:token">
		<xs:annotation>
			<xs:documentation>language</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="wl">
		<xs:annotation>
			<xs:documentation>working language</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="ak">
		<xs:annotation>
			<xs:documentation>paragraph - open for rich content</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="l"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="name"/>
	<xs:attribute name="nm" type="xs:normalizedString">
		<xs:annotation>
			<xs:documentation>name</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="quote">
		<xs:complexType mixed="true">
			<xs:attribute ref="l"/>
			<xs:attribute name="type" type="xs:normalizedString">
				<xs:annotation>
					<xs:documentation>Can be e.g. a description, or reference to previous recommendation</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="nr" type="xs:token"/>
</xs:schema>
